<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/welcome}">Welcome</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/home}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/tracks}">Track List</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{/welcome}">GroovMaker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">lalallalala</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Sign up</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="pt-3 pb-3">Welcome to GroovMaker</h1>
    <!--<div class="d-flex justify-content-center  mb-4 mt-1">-->
    <!--<a class="text-lg-left"  th:href="@{/login}">Login</a>-->
    <!--or-->
    <!--<a class="text-lg-left" th:href="@{/register}">Sign up</a>-->
    <!--</div>-->

    <p>
        Here are some things you can do:
    </p>

    <br>

    <form th:action="@{/login}" method="get">
        <button class="btn btn-primary btn-block" type="Submit">Login</button>
    </form>

    <br>

    <form th:action="@{/register}" method="get">
        <button class="btn btn-success btn-block" type="Submit">Sign up</button>
    </form>

</div>
</body>
</html>