<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="../../static/css/js/scripts.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/welcome}">Welcome</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/user/home}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/tracks}">Track List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " th:href="@{/genres}">Genres</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{/welcome}">GroovMaker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:utext="'Welcome, ' + ${user.getName()}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <H1 class="pt-3 pb-3">Here is a list of all the genres</H1>

    <div class="card">

        <article class="card-body ">

            <div class="container">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Genre</th>
                        </tr>
                    </thead>
                    <tr>
                        <td scope="row"><a th:href="@{/genre/{genre}(genre='jazz')}">Jazz</a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a th:href="@{/genre/{genre}(genre='folk')}">Folk</a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a th:href="@{/genre/{genre}(genre='electronic')}">Electronic</a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a th:href="@{/genre/{genre}(genre='rock')}">Rock</a></td>
                    </tr>
                    <tr>
                        <td scope="row"><a th:href="@{/genre/{genre}(genre='rap')}">Rap</a></td>
                    </tr>
                </table>

            </div>


        </article>
    </div> <!-- card.// -->


</div>



</body>
</html>