<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="../../static/css/js/scripts.js"></script>
</head>
<body>

<nav th:insert="fragments/general.html :: navigation"></nav>

<div class="container">
    <H1 class="pt-3 pb-3" th:utext="'Here is a list of every track of genre: ' + ${genre}"></H1>

    <div class="card container">


        <div class="validation-message text-danger">
            <p class="admin-message-text text-center" th:utext="${message}"></p>
        </div>

        <article class="card-body ">

            <div class="container">
                <div>
                    <h2 th:if="${#lists.isEmpty(tracks)}">No tracks found!</h2>
                    <div th:if="${not #lists.isEmpty(tracks)}">
                        <h2>Tracks</h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Genre</th>
                                <th scope="col">Uploader</th>
                                <th scope="col">Show</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="track : ${tracksPage.content}">
                                <th scope="row" th:text="${track.title}"></th>
                                <td th:text="${track.artist}"></td>
                                <td th:text="${track.genre}"></td>
                                <td th:text="${track.uploader.name}"></td>
                                <td>
                                    <form th:action="@{/track/{id}/(id=${track.id})}" method="get">
                                        <button class="btn btn-primary btn-block" type="Submit">Show</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </article>
    </div> <!-- card.// -->

    <br>

    <div class="card container">
        <div class="card-body row">

            <nav aria-label="Page navigation example" class="container row d-flex justify-content-center">
                <ul th:if="${tracksPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <li class="btn btn-outline-secondary"><a class="text-secondary"
                                                             th:href="@{/genre/{genre}(genre = ${genre},size=${tracksPage.size}, page=${pageNumber})}"
                                                             th:text="${pageNumber}  "
                                                             th:class="${pageNumber==tracksPage.number + 1} ? active">1</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>


</div>


</body>
</html>